doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="style.css")
  body
    .board
      each square in [{index: 1, group: 1}, {index: 2, group: 1}, {index: 3, group: 2}, {index: 4, group: 2}, {index: 5, group: 1}, {index: 6, group: 1}, {index: 7, group: 2}, {index: 8, group: 2}, {index: 9, group: 3}, {index: 10, group: 3}, {index: 11, group: 4}, {index: 12, group: 4}, {index: 13, group: 3}, {index: 14, group: 3}, {index: 15, group: 4}, {index: 16, group: 4}]
        each num in [1, 2, 3, 4]
            input.number_picker_input(
                type="radio", 
                id=`square-${square.index}-number-${num}`, 
                name=`square-${square.index}-numbers`, 
                value=num
                data-square-index=square.index
                data-square-group=square.group
                data-x=(square.index-1)%4+1
                data-y=Math.ceil(square.index/4)
            )
        label.square(for=`square-${square.index}` data-square-index=square.index data-square-group=square.group data-x=(square.index-1)%4+1 data-y=Math.ceil(square.index/4))
          input.sidebar_toggle_input(type="radio", id=`square-${square.index}`, name="select-square")
          label.sidebar_toggle_label(for=`square-${square.index}`)
          .number_picker_sidebar
            each num in [1, 2, 3, 4]
              label.number_picker_label(for=`square-${square.index}-number-${num}`) #{num}
