doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet")
    title CSS Only Sudoku
    link(rel="stylesheet", href="style.css")
  body
  input.game-difficulty-input(type="radio", id="game-difficulty-easy", name="game-difficulty")
  input.game-difficulty-input(type="radio", id="game-difficulty-medium", name="game-difficulty")
  input.game-difficulty-input(type="radio", id="game-difficulty-hard", name="game-difficulty")
  input.goBackButton(type="radio", id="goBackButton", name="game-difficulty")

  .difficulty-picker-labels
    label(for="game-difficulty-easy") 
      img(src="sudoku.png", alt="Easy")
      p(id="easy-difficulty-label") Easy <br/> Sudoku
    label(for="game-difficulty-medium")
      img(src="sudoku.png", alt="Medium")
      p(id="medium-difficulty-label") Medium <br/> Sudoku
    label(for="game-difficulty-hard") 
      img(src="sudoku.png", alt="Hard")
      p(id="hard-difficulty-label") Hard <br/> Sudoku
  .win99-taskbar
    .win99-start-button CSS Only Sudoku
    .win99-start-button-container
      a.win99-start-button(href="https://github.com/whosmatu/css-only-sudoku", target="_blank") 
        svg(width="12" height="12" viewBox="0 0 16 16" fill="currentColor")
          path(d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z")
        span GitHub
      a.win99-start-button(href="https://x.com/whosmatu", target="_blank") By @whosmatu
  //- - const icons = ['🎉', '🥳', '🎊']
  //- - for (let i = 1; i < 100; i++) {
  //-    .icon= icons[Math.floor(Math.random() * icons.length)]
  //- - }
  .game-easy.win99-window
    .win99-title-bar
      div
        p Easy mode
      label.win99-button(for="goBackButton") ×
    input.close-sidebar(type="radio", id="easy-close-sidebar", name="select-square")
    label(for="easy-close-sidebar").board
      - var gridSize = 3 // Change this to adjust the grid size (e.g., 4, 9, 16, 25)
      - var blockSize = Math.sqrt(gridSize); // Size of each block/group
      - var squares = [];
      - for (let i = 0; i < gridSize * gridSize; i++) {
      -   var row = Math.floor(i / gridSize);
      -   var col = i % gridSize;
      -   var group = Math.floor(row / blockSize) * blockSize + Math.floor(col / blockSize) + 1;
      -   squares.push({ index: i + 1, group: group });
      - }
      each square in squares
        each num in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
            input.number_picker_input(
                type="radio", 
                id=`board-easy-square-${square.index}-number-${num}`, 
                name=`board-easy-square-${square.index}-numbers`, 
                value=num
                checked=num===0
                data-square-index=square.index
                data-square-group=square.group
                data-x=(square.index-1)%9+1
                data-y=Math.ceil(square.index/9)
            )
        label.square(for=`board-easy-square-${square.index}` data-square-index=square.index data-square-group=square.group data-x=(square.index-1)%9+1 data-y=Math.ceil(square.index/9))
          input.sidebar_toggle_input(type="radio", id=`board-easy-square-${square.index}`, name="select-square")
          label.sidebar_toggle_label(for=`board-easy-square-${square.index}`)
          .number_picker_sidebar
            each num in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
              label.number_picker_label(for=`board-easy-square-${square.index}-number-${num}`)=num===0 ? "X" : num
 
  .game-medium.win99-window
    .win99-title-bar
      div
        p Medium mode
      label.win99-button(for="goBackButton") ×
    input.close-sidebar(type="radio", id="medium-close-sidebar", name="select-square")
    label(for="medium-close-sidebar").board
      - var gridSize = 6 // Change this to adjust the grid size (e.g., 4, 9, 16, 25)
      - var blockSize = Math.sqrt(gridSize); // Size of each block/group
      - var squares = [];
      - for (let i = 0; i < gridSize * gridSize; i++) {
      -   var row = Math.floor(i / gridSize);
      -   var col = i % gridSize;
      -   var group = Math.floor(row / blockSize) * blockSize + Math.floor(col / blockSize) + 1;
      -   squares.push({ index: i + 1, group: group });
      - }
      each square in squares
        each num in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
            input.number_picker_input(
                type="radio", 
                id=`board-medium-square-${square.index}-number-${num}`, 
                name=`board-medium-square-${square.index}-numbers`, 
                value=num
                checked=num===0
                data-square-index=square.index
                data-square-group=square.group
                data-x=(square.index-1)%6+1
                data-y=Math.ceil(square.index/6)
            )
        label.square(for=`board-medium-square-${square.index}` data-square-index=square.index data-square-group=square.group data-x=(square.index-1)%9+1 data-y=Math.ceil(square.index/9))
          input.sidebar_toggle_input(type="radio", id=`board-medium-square-${square.index}`, name="select-square")
          label.sidebar_toggle_label(for=`board-medium-square-${square.index}`)
          .number_picker_sidebar
            each num in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
              label.number_picker_label(for=`board-medium-square-${square.index}-number-${num}`)=num===0 ? "X" : num
  
  .game-hard.win99-window
    .win99-title-bar
      div
        p Hard mode
      label.win99-button(for="goBackButton") ×
    label(for="hard-close-sidebar")
      input.close-sidebar(type="radio", id="hard-close-sidebar", name="select-square")
      - var gridSize = 9 // Change this to adjust the grid size (e.g., 4, 9, 16, 25)
      - var blockSize = Math.sqrt(gridSize); // Size of each block/group
      - var squares = [];
      - for (let i = 0; i < gridSize * gridSize; i++) {
      -   var row = Math.floor(i / gridSize);
      -   var col = i % gridSize;
      -   var group = Math.floor(row / blockSize) * blockSize + Math.floor(col / blockSize) + 1;
      -   squares.push({ index: i + 1, group: group });
      - }
      .board
        each square in squares
          each num in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
              input.number_picker_input(
                  type="radio", 
                  id=`board-hard-square-${square.index}-number-${num}`, 
                  name=`board-hard-square-${square.index}-numbers`, 
                  value=num
                  checked=num===0
                  data-square-index=square.index
                  data-square-group=square.group
                  data-x=(square.index-1)%9+1
                  data-y=Math.ceil(square.index/9)
              )
          label.square(for=`board-hard-square-${square.index}` data-square-index=square.index data-square-group=square.group data-x=(square.index-1)%9+1 data-y=Math.ceil(square.index/9))
            input.sidebar_toggle_input(type="radio", id=`board-hard-square-${square.index}`, name="select-square")
            label.sidebar_toggle_label(for=`board-hard-square-${square.index}`)
            .number_picker_sidebar
              each num in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                label.number_picker_label(for=`board-hard-square-${square.index}-number-${num}`)=num===0 ? "X" : num